html {scroll-behavior: smooth}
.text-alpha {color: rgba(#464e63, 0.5)}
.headline {font-size: 56px;
font-weight: 800}

.h2 {font-weight: 700;
    font-size: 36px}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
box-sizing: border-box}

button, 
button:active, 
button:focus {
    outline: none;
}



