.wallpaper--mountain {background:url("~images\content\mountain.png") no-repeat ;
  background-size: cover;}
.wallpaper--shangrila {background:url("~images\content\Budda.png") no-repeat ;
  background-size: cover; margin-top: 100px;}