section(id="feedback").section.feedback 
        .container.container--feedback
          .feedback__article
            h2.h2.feedback__headline Что обо мне говорят
            button.feedback__button.feedback__button--left
            button.feedback__button.feedback__button--right 
          ul.quotes-list
            swiper(ref="mySwiper" :options="swiperOption")
              quote(v-for = "wisdom in quotes" :wisdom = "wisdom")

script#quote(type="x-template")
  swiper-slide
    li.quotes-list__item
      p.quotes-list__text {{wisdom.text}}
      .quotes-list__speaker-info
        .quotes-list__speaker-photo
          img.quotes-list__speaker-png(:src="wisdom.photo")
        .quotes-list__speaker-textcontent
          .quotes-list__speaker-name {{wisdom.name}}
          .quotes-list__speaker-position {{wisdom.position}}
