section(id="hello").section.hello
        .container.container--hello
          .welcome-card 
            .welcome-card__info
             .welcome-card__photo
              +image('content/me.jpg','my-photo')
             .welcome-card__description
              .welcome-card__col
                .welcome-card__row
                  p.welcome-card__text Проживаю
                .welcome-card__row
                  p.welcome-card__text Возраст
                .welcome-card__row
                  p.welcome-card__text Родился
              .welcome-card__col.welcome-card__col--dark
                .welcome-card__row
                    p.welcome-card__text Санкт-Петербург
                .welcome-card__row
                  p.welcome-card__text 30
                .welcome-card__row
                  p.welcome-card__text 7 февраля 1989
            .welcome-card__textcontent
              .welcome-card__upper-part
                .welcome-card__row
                  p.welcome-card__text Привет, меня зовут
                .welcome-card__row
                  h2.h2.welcome-card__headline Никитин Артём
                .welcome-card__row
                   p.welcome-card__text Я занимаюсь разработкой современных сайтов и приложений
                   p.welcome-card__text Мне нравится делать интересные и современные проекты
              p.welcome-card__text Этот сайт я сделал в рамках обучения в Школе онлайн образования<br> Loftschool. Чуть позже я освежу в нём свой контент. А пока <br> посмотрите, как тут всё классно и красиво!