.popup
    .popup__left
        a(href="#").logo-link.logo-link--popup на 
    .popup__right
        button(type ="button").exit-button 
        ul.navigation.navigation--popup
          li.navigation__item.navigation__item--popup
            a(href="#").navigation__link Главная
          li.navigation__item.navigation__item--popup
            a(href="#hello").navigation__link Обо мне
          li.navigation__item.navigation__item--popup
            a(href="#skills").navigation__link Навыки
          li.navigation__item.navigation__item--popup
            a(href="#jobs").navigation__link Работы
          li.navigation__item.navigation__item--popup
            a(href="#feedback").navigation__link Отзывы
          li.navigation__item.navigation__item--popup
              a(href="#contacts").navigation__link Связаться
        ul.socials.socials--popup
            li.socials__item.socials__item--popup
                a(href="https://www.instagram.com/tema.nikitin/").socials__link
                    +icon ('insta')
            li.socials__item.socials__item--popup
                a(href="https://vk.com/bestintheworldatwhathedoes").socials__link
                    +icon ('vk')
            li.socials__item.socials__item--popup
                a(href="https://github.com/dontshoot11").socials__link
                    +icon ('github')