section(id='skills').section.skills
      .container.container--skills
        .backpack-picture
        .why-me
          h2.h2.why-me__headline Чем я могу быть полезен вам
          p.why-me__text Этот сайт я сделал в рамках обучения в Школе онлайн образования<br> Loftschool. Чуть позже я освежу в нём свой контент. А пока <br> посмотрите, как тут всё классно и красиво!
          .skills-list
            h2.h2.why-me__headline.why-me__headline--skills-list Front-end
            ul.why-me__skills-list
             li.why-me__list-item 
              svg(viewbox = '0 0 100 100', preserveAspectRatio = 'none', ).percentage
                circle(cx ='50', cy = '50', r = '40').circle.circle__under
                circle(cx ='50', cy = '50', r = '40', style = "animation-delay: -65s").circle.circle__above 
              span.why-me__skill-name HTML5
             li.why-me__list-item
              svg(viewbox = '0 0 100 100', preserveAspectRatio = 'none').percentage
                circle(cx ='50', cy = '50', r = '40').circle.circle__under
                circle(cx ='50', cy = '50', r = '40', style = "animation-delay: -69s").circle.circle__above 
              span.why-me__skill-name CSS3
             li.why-me__list-item
              svg(viewbox = '0 0 100 100', preserveAspectRatio = 'none').percentage
                circle(cx ='50', cy = '50', r = '40').circle.circle__under
                circle(cx ='50', cy = '50', r = '40', style = "animation-delay: -33s").circle.circle__above 
              span.why-me__skill-name JavaScript
             li.why-me__list-item
              svg(viewbox = '0 0 100 100', preserveAspectRatio = 'none').percentage
                circle(cx ='50', cy = '50', r = '40').circle.circle__under
                circle(cx ='50', cy = '50', r = '40', style = "animation-delay: -20s").circle.circle__above 
              span.why-me__skill-name Jquery <br> и Vue.js
            h2.h2.why-me__headline.why-me__headline--skills-list Workflow
            ul.why-me__skills-list
              li.why-me__list-item
                svg(viewbox = '0 0 100 100', preserveAspectRatio = 'none').percentage
                  circle(cx ='50', cy = '50', r = '40').circle.circle__under
                  circle(cx ='50', cy = '50', r = '40',style = "animation-delay: -70s").circle.circle__above 
                span.why-me__skill-name GIT
              li.why-me__list-item
                svg(viewbox = '0 0 100 100', preserveAspectRatio = 'none').percentage
                  circle(cx ='50', cy = '50', r = '40').circle.circle__under
                  circle(cx ='50', cy = '50', r = '40', style = "animation-delay: -20s").circle.circle__above 
                span.why-me__skill-name Terminal
              li.why-me__list-item
                svg(viewbox = '0 0 100 100', preserveAspectRatio = 'none').percentage
                  circle(cx ='50', cy = '50', r = '40').circle.circle__under
                  circle(cx ='50', cy = '50', r = '40', style = "animation-delay: -25s").circle.circle__above 
                span.why-me__skill-name Gulp
              li.why-me__list-item
                svg(viewbox = '0 0 100 100', preserveAspectRatio = 'none').percentage
                  circle(cx ='50', cy = '50', r = '40').circle.circle__under
                  circle(cx ='50', cy = '50', r = '40', style = "animation-delay: -20s").circle.circle__above 
                span.why-me__skill-name Webpack